<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Novo Usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" media="screen">
    
</head>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" th:href="@{/css/style-cadastro-user.css}">

<body class="body">

    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Cadastro de usuário</h5>
                        <form class="form-signin" action="#" th:action="@{/adduser}" th:object="${usuario}" method="post">
		
                            <div class="form-label-group">
                             <label><span class="text-danger">*</span> Nome:</label>
                                <input class="form-control" placeholder="Nome" type="text" id="nome" name="nome"
                                    required>
                                <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
                            </div>

                            <div class="form-label-group">
                            <label><span class="text-danger">*</span> E-mail:</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Email address"
                                    required autofocus>
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                            </div>

                            <div class="form-label-group">
                            <span class="text-danger">*</span> Senha:</label>
                                <input type="password" id="senha" name="senha" class="form-control" placeholder="Password"
                                    required>
                          	<br>
                            <span th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></span>
                            </div>

                            <div class="form-group">
								<button class="btn btn-primary btn-block" type="submit">Cadastrar</button>
							</div>
                            <h6 class="voltar-a-tela-inicial"><a href="/login">Voltar a tela inicial</a></h6>
                            <hr class="my-4">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>