<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<meta charset="ISO-8859-1">
<title>Editar DVD</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="content p-1">
			<div class="list-group-item">
				<div class="d-flex">
					<div class="mr-auto p-2">
						<h2 class="display-4 titulo">Editar DVD-CD</h2>
					</div>
				</div>
				<hr>
				<form action="#" th:action="@{/dvd_cd/editar}" th:object="${DvdCd}"
					method="post">

					<div class="form-row">
						<div class="form-group col-md-2">
							<label> <span class="text-danger">*</span> ID
							</label> <input name="id" type="text" class="form-control"
								id="id" placeholder="ID" th:field="*{id}"/>
						</div>

						<div class="form-group col-md-5">
							<label> <span class="text-danger">*</span> Titulo
							</label> <input name="titulo" type="text" class="form-control"
								id="titulo" placeholder="Titulo completo" th:field="*{titulo}" />
						</div>
						<div class="form-group col-md-5">
							<label><span class="text-danger">*</span> Preço</label> <input
								name="preco" type="number" class="form-control" id="preco"
								placeholder="Informe o preço" th:field="*{preco}" />
						</div>
						
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label>Estado</label> <select name="estado" id="estado"
								class="form-control">
								<option selected>Selecione</option>
								<option value="NOVO">NOVO</option>
								<option value="RASURADO">USADO</option>
							</select>
						</div>

						<div class="form-group col-md-6">
							<label>Já foi Assistido?</label> <select name="statusDeUso"
								id="statusDeUso" class="form-control">
								<option selected>Selecione</option>
								<option value="true">SIM</option>
								<option value="false">NÃO</option>
							</select>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label><span class="text-danger">*</span>Conteudo</label> <input
								name="conteudo" type="text" class="form-control" id="conteudo"
								th:field="*{conteudo}" />
						</div>
						<div class="form-group col-md-6">
							<label><span class="text-danger">*</span> Marca</label> <input
								name="marca" type="text" class="form-control" id="marca"
								th:field="*{marca}" />
						</div>
					</div>

					<div class="form-row">
						<label>Observações</label>
						<textarea name="observacoes" class="form-control" id="observacoes"
							th:field="*{observacoes}">
						</textarea>
					</div>
					<br>

					<button type="submit" class="btn btn-success">Cadastrar</button>
				</form>
			</div>
		</div>
	</div>

</body>
</html>